<div class="delta_home-container">
      <div class="delta_home-container-sidebar col-2">
            <div class="delta_home-container-sidebar-item">
                  <img width="300" src="assets/delta.png" alt="logo">
            </div>
            <div class="delta_home-container-sidebar-item">
                  <a>HOME</a>
            </div>
            <div class="delta_home-container-sidebar-item">
                  <a>SEARCH</a>
            </div>
            <div class="delta_home-container-sidebar-item">
                  <a>ADD NEW SONGS</a>
            </div>
      </div>
     
      <div class="delta_home-container-playlist col-10"><app-navbar></app-navbar></div>
</div>