<div class="delta_home-container">
      <div class="delta_home-container-sidebar ">
            <div class="delta_home-container-sidebar-item mt-5">
                  <img width="300" src="assets/delta.png" alt="logo">
            </div>
            <div class="delta_home-container-sidebar-item mt-5">
                  <a  routerLink="">Home</a>
            </div>
            <div class="delta_home-container-sidebar-item">
                  <a routerLink="search">Search</a>
            </div>
            <div class="delta_home-container-sidebar-item">
                  <a routerLink="add">Add new songs </a>
            </div>
      </div>
     
      <div class="delta_home-container-playlist"><app-navbar></app-navbar></div>
</div>